# Ignorar diretórios de saída da simulação
main_output/

# Ignorar caches de Python
__pycache__/
*.pyc

# Ignorar diretórios de cache específicos do PySPH
.pysph/

# Ignorar diretórios de cache dentro de src/ (se houver)
src/__pycache__/

# Ignorar arquivos e diretórios específicos do VS Code
.vscode/
.DS_Store

# Ignorar logs
log.csv
